<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= render :partial => "users/form", :object => f %>
  <%= f.submit "Register"%>
<% end %>

<%= render :partial => "devise/shared/links" %>
