<p id="notice"><%= notice %></p>

Name: <%= @application.name %><br />
Description: <%= @application.description %><br />
<br />
<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
