<h2 class='text-center'><%= @parent.name %></h2>
<div class='span5 well'>
  <% if @parent.entity_relationships.count == 0 %>
    <p class='lead'>This entity has no children.</p>
  <% else %>
    <div class="association-button">
      <button id="disassociate-button" class="btn btn-warning">Disassociate >></button>
    </div>
    <%= render 'layouts/entity_navigation' %>
    <ul class="unstyled entity-list">
      <% @parent.entity_relationships.each do |entity_relationship| %>
        <li class='span5 well'>
          Name: <%= entity_relationship.child.name %><br />
          Type: <%= entity_relationship.child.entity_definition_type %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class='span5 well'>
  <% if @entities.count == 0 %>
    <p class='lead'>This application is already related to all available applications.</p>
  <% else %>
    <div class="association-button">
      <button id="associate-button" class="btn btn-success"><< Associate</button>
    </div>
    <%= render 'layouts/entity_navigation' %>
    <ul class="unstyled entity-list">
      <% @entities.each do |entity| %>
        <%= render "#{entity.entity_definition.class.table_name}/entity", entity: entity %>
      <% end %>
    </ul>
  <% end %>
</div>
