<h4>Manage relationships for <%= @parent.name %></h4>
<div class='relationship-manager left'>
  <% if @parent.entity_relationships.count == 0 %>
    <blockquote>
      <p>This application currently has no children.</p>
    </blockquote>
  <% else %>
    <div class="association-button">
      <button id="disassociate-button" class="btn btn-warning">Disassociate >></button>
    </div>
    <%= render 'layouts/entity_navigation' %>
    <ul class="unstyled entity-list">
      <% @parent.entity_relationships.each do |entity_relationship| %>
        <li class="entity">
          Name: <%= entity_relationship.child.name %><br />
          Type: <%= entity_relationship.child.entity_definition_type %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class='relationship-manager right'>
  <% if @entities.count == 0 %>
    <blockquote>
      <p>This application is already related to all available applications.</p>
    </blockquote>
  <% else %>
    <div class="association-button">
      <button id="associate-button" class="btn btn-success"><< Associate</button>
    </div>
    <%= render 'layouts/entity_navigation' %>
    <ul class="unstyled entity-list">
      <% @entities.each do |entity| %>
        <li class="entity">
          Name: <%= entity.entity_definition.name %><br />
          Type: <%= entity.entity_definition_type %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
