<% content_for :javascript_includes do %>
  jQuery(document).ready(function() {
    SystemAtlas.views.relatipnshipsManage(<%= @parent.id %>);
  });
<% end %>

<div id="status">
</div>

<div id=<%= "entity-#{@parent.id}" %> data-id='<%= @parent.id %>' data-create_url='<%= entity_relationships_path(@parent) %>' class='container ui-widget-header droppable'>
  Id: <%= @parent.id %>
  <div>
    Application
    <% @parent.entity_relationships.each do |entity_relationship| %>
      <div id=<%= "entity-#{entity_relationship.child.id}" %> data-id='<%= entity_relationship.child.id %>' data-delete_url='<%= entity_relationship_path(@parent, entity_relationship) %>' class="ui-widget-content draggable">
        Id: <%= entity_relationship.child.id %>
      </div>
    <% end %>
  </div>
</div>

<div id='unassigned-entities' class='container' data-parent_id=<%= @parent.id %>>
  Palette
  <div id='entities'>
    <% (@entities - @parent.children).each do |entity| %>
      <div id=<%= "entity-#{entity.id}" %> data-id='<%= entity.id %>' class="ui-widget-content draggable">
        Id: <%= entity.id %>
      </div>
    <% end %>
  </div>
</div>