<% content_for :javascript_includes do %>
  jQuery(document).ready(function() {
    SystemAtlas.views.relatipnshipsManage(<%= @parent.id %>);
  });
<% end %>

<div id="status">
</div>

<div class='container'>
  <div class='section-header'>
    Application: <%= @parent.id %>
  </div>
  <div class="section-content">
    <ul id="child-entities" data-id='<%= @parent.id %>' 
        data-create_url='<%= entity_relationships_path(@parent) %>' 
        class='droppable entity-list'>
      <% @parent.entity_relationships.each do |entity_relationship| %>
        <li class="ui-state-highlight" 
            data-id='<%= entity_relationship.id %>'
            data-delete_url='<%= entity_relationship_path(@parent, entity_relationship) %>'>
          <div class="draggable entity">
            Id: <%= entity_relationship.child.id %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='container'>
  <div class='section-header'>
    Application Palette
  </div>
  <div class="section-content">
    <ul id='available-entities' 
        data-parent_id=<%= @parent.id %>  
        class="entity-list">
      <li>Erase Me</li>
      <% @entities.each do |entity| %>
        <li class="ui-state-highlight" data-id='<%= entity.id %>'>
          <div class="draggable entity">
            Id: <%= entity.id %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>