<% content_for :javascript_includes do %>
  jQuery(document).ready(function() {
    SystemAtlas.views.relatipnshipsManage(<%= @parent.id %>);
  });
<% end %>

<div id="status">
</div>

<div class='container'>
  <div class='section-header'>
    Application: <%= @parent.id %>
  </div>
  <div id="create-relationship"
      data-id='<%= @parent.id %>' 
      data-create_url='<%= entity_relationships_path(@parent) %>' 
      class="section-content">
    <ul id="child-entities"  class='entity-list'>
      <% @parent.entity_relationships.each do |entity_relationship| %>
        <li id="entity-<%= entity_relationship.child.id %>"
            class="ui-state-highlight entity" 
            data-id='<%= entity_relationship.child.id %>'
            data-delete_url='<%= entity_relationship_path(@parent, entity_relationship) %>'>
            Id: <%= entity_relationship.child.id %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='container'>
  <div class='section-header'>
    Application Palette
  </div>
  <div id="destroy-relationship"
      data-parent_id=<%= @parent.id %>  
      class="section-content">
    <ul id='available-entities' class="entity-list">
      <% @entities.each do |entity| %>
        <li id='entity-<%= entity.id %>' 
            data-id='<%= entity.id %>'
            class="ui-state-highlight entity">
          Id: <%= entity.id %>
        </li>
      <% end %>
    </ul>
  </div>
</div>