<div data-role='routes' data-create-relationship='<%= entity_relationships_path(@parent) %>' />
<div class='span11' data-role='parent' data-entity-id='<%= @parent.id %>'>
  <h2 class='text-center'><%= @parent.name %></h2>
</div>
<div class='span5 well well-large' data-role='child-container'>
  <% if @parent.entity_relationships.count == 0 %>
    <p class='lead'>This entity has no children.</p>
  <% else %>
    <button id="disassociate-button" class="btn btn-large btn-block" data-role='disassociate-button'>Disassociate <i class='icon-forward glyphb'></i></button><br /><br />
  <% end %>
  <ul class="unstyled entity-list" data-role='child-list'>
    <% @parent.entity_relationships.each do |relationship| %>
      <%= render "relationships/item_templates/#{relationship.child.entity_definition.class.table_name}_destroy", formats: [:html], relationship: relationship, parent: @parent %>
    <% end %>
  </ul>
</div>
<div class='span5 well well-large' data-role='entity-palette'>
  <% if @entities.count == 0 %>
    <p class='lead'>This application is already related to all available applications.</p>
  <% else %>
    <button id="associate-button" class="btn btn-large btn-block" data-role='associate-button'>
      <i class='icon-backward glyphb'></i> Associate</button><br /><br />
  <% end %>
  <ul class="unstyled entity-list" data-role='entity-list'>
    <% @entities.each do |entity| %>
      <%= render "relationships/item_templates/#{entity.entity_definition.class.table_name}_create", formats: [:html], entity: entity %>
    <% end %>
  </ul>
</div>

<%= content_for(:javascript) do %>
  SystemAtlas.boot();
<% end %>
