<% parent = @entities.pop %>

<% content_for :javascript_includes do %>
  jQuery(document).ready(function() {
    systemAtlas.views.relatipnshipsNew('<%= relationships_url %>', <%= raw(@entities.map { |entity| ["entity-#{entity.id}", entity.id] }) %>, <%= parent.id %>);
  });
<% end %>

<div class="demo">

<div id='relationships'>
  <% parent.children.each do |child| %>
    Existing relationship entity with id <%= child.id %>.<br>
  <% end %>
</div>

<% @entities.each do |entity| %>
  <div id=<%= "entity-#{entity.id}" %> class="ui-widget-content draggable">
    <%= entity.name %>
    Id: <%= entity.id %>
  </div>
<% end %>

  <div id=<%= "entity-#{parent.id}" %> class="ui-widget-header droppable">
    <%= parent.name %>
    Id: <%= parent.id %>
    <p>Drop here</p>
  </div>
</div>