<h4>Edit my account</h4>

<%= form_for @user do |f| %>
  <%= puts @user.email %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", account_path %>
