<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title><%= h(yield(:title) || "System Atlas") %></title>
        <%= stylesheet_link_tag('application', :media => 'all') %>
        <%= csrf_meta_tag %>
    </head>
    <body>
      <div id="container-outer">
          <div id="header">
            <% if current_user.present? %>
            <div class="utility">
                <div class="item">Welcome <%= current_user.email %></div>
                <div class="divider"></div>
                <div class="item"><%= current_user.organization.name  %></div>
                <div class="divider"></div>
                <div class="item"><%= link_to "Logout", destroy_user_session_path %></div>
            </div>
            <% end %>
            <div class="logo">
                <%= image_tag "Image-Logo.png" %>
            </div>
          </div>
        <div id="main-content">
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand">System Atlas</a>
              <%= render(:partial => 'layouts/navigation') %>
            </div>
          </div>
          <p><%= notice %></p>
          <p><%= alert %></p>
          <p><%= flash[:error] %></p>
          <%= yield %>
        </div>
        <div id="footer">
              footer
        </div>
      </div>
      <%= javascript_include_tag "application" %>
      <script>
        <%= yield :javascript_includes %>
      </script>
  </body>
</html>
