<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title><%= h(yield(:title) || "System Atlas") %></title>
        <%= stylesheet_link_tag('system_atlas', :media => 'all') %>
    </head>
    <body>
      <div class="page">
        <div class="header">
          <div class="title">
          </div>
          <div id="navigation" class="menu clear hideSkiplink"">
            <%= render(:partial => 'layouts/navigation') %>
          </div>
        </div>
          
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <p class="alert"><%= flash[:error] %></p>
        <div>
          <% if current_user.present? %>
            Organization: <%= current_user.organization.name  %>
          <% end %>
        </div>
        <div id="main">
            <%= yield %>
        </div>
        <div id="footer">
              footer
        </div>
      </div>
      <%= javascript_include_tag "application" %>
      <%= yield :javascript_includes %>
  </body>
</html>
