<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title><%= h(yield(:title) || "System Atlas") %></title>
        <%= stylesheet_link_tag('system_atlas', :media => 'all') %>
        <%= javascript_include_tag('jquery', 'jquery.ui', 'application', 'systemAtlas.utility', 'systemAtlas.views') %>
        <script>
          <%= yield :javascript_includes %>
        </script>
    </head>
    <body>
        <div id="container" style="margin-top: 25px;">
            <div id="header">
                <div id="navigation">
                  <%= render(:partial => 'layouts/navigation') %>
                </div>
            </div>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <div>
              <% if current_user.present? %>
                Organization: <%= current_user.organization.name  %>
              <% end %>
            </div>
            <div id="body">
                <%= yield %>
            </div>
            <div id="footer">
                footer
            </div>
        </div>
    </body>
</html>
