<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title><%= h(yield(:title) || "System Atlas") %></title>
        <%= stylesheet_link_tag('system_atlas', :media => 'all') %>
        <%= javascript_include_tag('jquery', 'application') %>
        <%= yield :javascript_includes %>
        </script>
    </head>
    <body>
        <div id="container" style="margin-top: 25px;">
            <div id="header">
                <div id="navigation">
                    <div id="left">

                    </div>
                    <div id="right">
                        <% if current_user %>
                        <%= link_to "Edit Profile", edit_user_path(:current) %>|<%= link_to "Logout", logout_path %>
                        <% else %>
                        <%= link_to "Register", new_user_path %>|<%= link_to "Login", new_account_path %>
                        <% end %>
                    </div>
                </div>
            </div>
            <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <%- end -%>
            <div id="body">
                <%= yield %>
            </div>
            <div id="footer">
                footer
            </div>
        </div>
    </body>
</html>
